<section>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <blockquote>
                <p>Clinical Content</p>
            </blockquote>
            <div>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 300px;">Tag Name</th>
                            <th>Contents</th>
                            <th style="width: 20px;"></th>
                            <th style="width: 20px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="content in contents">
                        <td>
                            <pre class="pre">{{ content.tag }}</pre>
                        </td>
                        <td>
                            <pre class="pre">{{ content.contents.join('\n') }}</pre>
                        </td>
                        <td><i class="fa fa-pencil-square-o" ng-click="editContent(content)"></i></td>
                        <td><i class="fa fa-times" ng-click="deleteContent(content)"></i></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary pull-right" ng-click="addContent()">Add New Content</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <!-- HTML Form for adding new patient details -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="tags" class="col-sm-2 control-label" required>Tag Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tags" ng-model="current.tag" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label" required>Contents</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="4" id="content" ng-model="contentLines"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveContent(current)" >Save changes</button>
                </div>
            </div>
        </div>
    </div>

</section>