<section>
    <div class="row">
        <div class="col-sm-5 col-md-3">
            <blockquote>
                <p>Male/Female Patients</p>
            </blockquote>
            <div id="chartContainer" style="height: 200px"></div>
            <button type="button" class="btn btn-primary pull-right" ng-click="addPatient()">Add Patient</button>
        </div>
        <div class="col-sm-7 col-md-4">
            <blockquote>
                <p>Patients<b>{{ chosenGender ? ': ' + chosenGender : '' }}</b></p>
            </blockquote>
            <div ng-show="chosenGender">
                <input ng-model="patientFilter" type="text" class="form-control" placeholder="filter" style="margin-bottom: 5px">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 80px;">Sex</th>
                        <th style="width: 60px;">DOB</th>
                        <th style="width: 20px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer" ng-repeat="patient in patients track by $id($index)" ng-click="showDetails(patient)">
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.sex }}</td>
                            <td>{{ patient.dob }}</td>
                            <td><i class="fa fa-pencil-square-o" ng-click="editPatient(patient); $event.stopPropagation();"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <blockquote>
                <p>Patients Details<b>{{ selectedPatient ? ': ' + selectedPatient.name : '' }}</b></p>
            </blockquote>
            <div ng-show="selectedPatient">
                <input ng-model="detailFilter" type="text" class="form-control" placeholder="filter" style="margin-bottom: 5px">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">Episode</th>
                            <th>Data</th>
                            <th style="width: 20px;"></th>
                            <th style="width: 20px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="detail in selectedPatient.details">
                        <td>{{ detail.no }}</td>
                        <td>
                            <span ng-repeat="item in detail.details track by $index">{{ item }}<br></span>
                        </td>
                        <td><i class="fa fa-pencil-square-o" ng-click="editDetails(detail)"></i></td>
                        <td><i class="fa fa-times" ng-click="deleteDetails(detail)"></i></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary pull-right" ng-click="addDetails()">Add Patient Data</button>
            </div>
        </div>
    </div>

    <!-- Modal Patient -->
    <div class="modal fade" id="form-add-patient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ patientModalTitle }}</h4>
                </div>
                <div class="modal-body">
                    <!-- HTML Form for adding new patient -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="identifier" class="col-sm-3 control-label" required>Patient Identifier</label>
                            <div class="col-sm-9">
                                <input ng-model="patientModal.identifier" type="text" class="form-control" id="identifier" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label" required>Patient Name</label>
                            <div class="col-sm-9">
                                <input ng-model="patientModal.name" type="text" class="form-control" id="name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dob" class="col-sm-3 control-label" required>DOB</label>
                            <div class="col-sm-9">
                                <input ng-model="patientModal.dob" type="text" class="form-control" id="dob" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sex" class="col-sm-3 control-label" required>Sex</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="patientModal.sex" id="sex">
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="author" class="col-sm-3 control-label" required>Author</label>
                            <div class="col-sm-9">
                                <input ng-model="patientModal.author" type="text" class="form-control" id="author" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="savePatient(patientModal)" >Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Details -->
    <div class="modal fade" id="form-add-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{ detailsModalTitle }}</h4>
                </div>
                <div class="modal-body">
                    <!-- HTML Form for adding new patient details -->
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Episode</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="detailsModal.no"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Add Notes</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control typeahead"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" required>Clinical Node</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6" ng-model="contentLines"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Author</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="detailsModal.author"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="detailsModal.date"  />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveDetails(detailsModal)" >Save changes</button>
                </div>
            </div>
        </div>
    </div>

</section>